<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="header">
    <div class="header-SingAndLog">
        <a th:href="@{/login}">log out</a>
        <a th:href="@{/register}">Sing in</a>
    </div>
    <div class="page-title">
        <a th:href="@{/}">
                <img th:src="@{/Title_ani.rate.svg}" alt="Header img">
            </a>
    </div>
    <div class="page-header">
        <a th:href="@{/}"> rate random anime </a>
        <a th:href="@{/user_list}"> your anime list </a>
        <a th:href="@{/top_rated}"> top-rated anime </a>
        <a th:href="@{/anime_categories}"> search anime </a>
    </div>
</div>
</body>
</html>