<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="header">
    <div class="header-SingAndLog">
        <a th:href="@{/login}">log out</a>
        <a th:href="@{/register}">Sing in</a>
    </div>
    <div class="page-title">
        <a th:href="@{/anime_rate/}">
                <img th:src="@{/Title_ani.rate.svg}" alt="Header img">
            </a>
    </div>
    <div class="page-header">
        <a href="/random"> your account </a>
        <a th:href="@{/anime_rate/user_list}"> your anime list </a>
        <a href="/random"> top-rated anime </a>
        <form>
                <input type="text" placeholder="search anime" class="header-search">
        </form>
    </div>
</div>
</body>
</html>