<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="/Style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>

<body>
<div th:replace="/headerFragment :: header"></div>
<div class="anime-grid">
    <div class="anime-info">
        <div>
            <h2>Title (EN):</h2>
            <p id="animeTitleEng">Loading..</p>
            <h2>Title (JP):</h2>
            <p id="animeTitleJP">Loading..</p>
        </div>
        <div>
            <h2>Release Date:</h2>
            <p id="releaseDate">Loading..</p>
        </div>
        <div>
            <h2>Episodes:</h2>
            <p id="episodes">Loading..</p>
        </div>
        <div class="anime-description">
            <h2>Description:</h2>
            <p id="description">Loading..</p>
        </div>
    </div>
    <div class="anime-poster">
        <img id="posterImage" alt="Poster Image" />
    </div>
</div>
<div class="page-buttons">
    <div class="rating hidden">
        <div class="rating-text">
            <div class="rating-artstyle">
                <h3>Art Style</h3>
                <p>0/10</p>
                <div class="unchecked-rating">
                    <input type="checkbox" name="oneStar">
                    <input type="checkbox" name="twoStar">
                    <input type="checkbox" name="threeStar">
                    <input type="checkbox" name="fourStar">
                    <input type="checkbox" name="fiveStar">
                    <input type="checkbox" name="sixStar">
                    <input type="checkbox" name="sevenStar">
                    <input type="checkbox" name="eightStar">
                    <input type="checkbox" name="nineStar">
                    <input type="checkbox" name="tenStar">
                </div>
            </div>
            <div class="rating-animation">
                <h3>Animation</h3>
                <p>0/10</p>
                <div class="unchecked-rating">
                    <input type="checkbox" name="oneStar">
                    <input type="checkbox" name="twoStar">
                    <input type="checkbox" name="threeStar">
                    <input type="checkbox" name="fourStar">
                    <input type="checkbox" name="fiveStar">
                    <input type="checkbox" name="sixStar">
                    <input type="checkbox" name="sevenStar">
                    <input type="checkbox" name="eightStar">
                    <input type="checkbox" name="nineStar">
                    <input type="checkbox" name="tenStar">
                </div>
            </div>
            <div class="rating-story">
                <h3>Story</h3>
                <p>0/10</p>
                <div class="unchecked-rating">
                    <input type="checkbox" name="oneStar">
                    <input type="checkbox" name="twoStar">
                    <input type="checkbox" name="threeStar">
                    <input type="checkbox" name="fourStar">
                    <input type="checkbox" name="fiveStar">
                    <input type="checkbox" name="sixStar">
                    <input type="checkbox" name="sevenStar">
                    <input type="checkbox" name="eightStar">
                    <input type="checkbox" name="nineStar">
                    <input type="checkbox" name="tenStar">
                </div>
            </div>
            <div class="rating-characters">
                <h3>Characters</h3>
                <p>0/10</p>
                <div class="unchecked-rating">
                    <input type="checkbox" name="oneStar">
                    <input type="checkbox" name="twoStar">
                    <input type="checkbox" name="threeStar">
                    <input type="checkbox" name="fourStar">
                    <input type="checkbox" name="fiveStar">
                    <input type="checkbox" name="sixStar">
                    <input type="checkbox" name="sevenStar">
                    <input type="checkbox" name="eightStar">
                    <input type="checkbox" name="nineStar">
                    <input type="checkbox" name="tenStar">
                </div>
            </div>
        </div>
        <div class="rating-button">
            <button>add to watched</button>
        </div>
    </div>
    <div class="addMenu hidden">
        <p>Do you want to add the anime to haven't seen list?<br>So you could watch it latter?</p>
        <button>Yes</button>
        <button>No</button>
    </div>
    <button onclick="toggleRating()">seen</button>
    <button onclick="toggleAddMenu()">not seen</button>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const randomId = Math.floor(Math.random() * 100) + 1;
        const apiUrl = `https://kitsu.io/api/edge/anime/${randomId}`;

        const titleEng = document.getElementById('animeTitleEng');
        const titleJP = document.getElementById('animeTitleJP');
        const releaseDate = document.getElementById('releaseDate');
        const seasons = document.getElementById('episodes');
        const description = document.getElementById('description');
        const posterImg = document.getElementById('posterImage');

        fetch(apiUrl)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                titleEng.textContent = data.data.attributes.titles.en;
                titleJP.textContent = data.data.attributes.titles.ja_jp;
                releaseDate.textContent = data.data.attributes.startDate;
                if (data.data.attributes.episodeCount < 2) {
                    seasons.textContent = 'movie';
                } else {
                    seasons.textContent = data.data.attributes.episodeCount;
                }
                description.textContent = data.data.attributes.synopsis;
                posterImg.src = data.data.attributes.posterImage.medium;
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });
    function toggleRating() {
        document.querySelector(".rating").classList.toggle("hidden");
    }
    function toggleAddMenu() {
        document.querySelector(".addMenu").classList.toggle("hidden");
    }
</script>
</body>
</html>
