<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="/Style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>

<body>
<div th:replace="/headerFragment :: header"></div>
<form th:action="@{/add_seen}" th:method="POST" id="watchedForm">
    <div class="anime-grid">
        <div class="anime-info">
            <div>
                <h2>Title (EN):</h2>
                <p th:text="${anime.titleEng()}">Loading..</p>
                <input type="hidden" th:value="${anime.titleEng()}" name="titleEng"/>
                <h2>Title (JP):</h2>
                <p th:text="${anime.titleJP()}">Loading..</p>
                <input type="hidden" th:value="${anime.titleJP()}" name="titleJP"/>
            </div>
            <div>
                <h2>Release Date:</h2>
                <p th:text="${anime.releaseDate()}">Loading..</p>
                <input type="hidden" th:value="${anime.releaseDate()}" name="releaseDate"/>
            </div>
            <div>
                <h2>Episodes:</h2>
                <p th:text="${anime.episodes()}">Loading..</p>
                <input type="hidden" th:value="${anime.episodes()}" name="episodes"/>
            </div>
            <div class="anime-description">
                <h2>Description:</h2>
                <p th:text="${anime.description()}">Loading..</p>
                <input type="hidden" th:value="${anime.description()}" name="description"/>
            </div>
        </div>
        <div class="anime-poster">
            <img alt="Poster Image" th:src="${anime.posterImage()}"/>
            <input type="hidden" th:value="${anime.posterImage()}" name="posterImage"/>
        </div>
    </div>
    <div class="page-buttons">
        <div class="rating hidden">
            <div class="rating-text">
                <div class="rating-artstyle">
                    <div class="rating-title">
                        <h3>Art Style</h3>
                    </div>
                    <br>
                    <div class="rating-stars">
                        <input type="radio" id="artStyleStar1" name="artStyleRating" value="1">
                        <label for="artStyleStar1">
                            <i class="fa-solid fa-star"></i>
                        </label>
                        <input type="radio" id="artStyleStar2" name="artStyleRating" value="2">
                        <label for="artStyleStar2">
                            <i class="fa-solid fa-star"></i>
                        </label>
                        <input type="radio" id="artStyleStar3" name="artStyleRating" value="3">
                        <label for="artStyleStar3">
                            <i class="fa-solid fa-star"></i>
                        </label>
                        <input type="radio" id="artStyleStar4" name="artStyleRating" value="4">
                        <label for="artStyleStar4">
                            <i class="fa-solid fa-star"></i>
                        </label>
                        <input type="radio" id="artStyleStar5" name="artStyleRating" value="5">
                        <label for="artStyleStar5">
                            <i class="fa-solid fa-star"></i>
                        </label>
                        <input type="radio" id="artStyleStar6" name="artStyleRating" value="6">
                        <label for="artStyleStar6">
                            <i class="fa-solid fa-star"></i>
                        </label>
                        <input type="radio" id="artStyleStar7" name="artStyleRating" value="7">
                        <label for="artStyleStar7">
                            <i class="fa-solid fa-star"></i>
                        </label>
                        <input type="radio" id="artStyleStar8" name="artStyleRating" value="8">
                        <label for="artStyleStar8">
                            <i class="fa-solid fa-star"></i>
                        </label>
                        <input type="radio" id="artStyleStar9" name="artStyleRating" value="9">
                        <label for="artStyleStar9">
                            <i class="fa-solid fa-star"></i>
                        </label>
                        <input type="radio" id="artStyleStar10" name="artStyleRating" value="10">
                        <label for="artStyleStar10">
                            <i class="fa-solid fa-star"></i>
                        </label>
                    </div>
                </div>

                <div class="rating-animation">
                    <div class="rating-title">
                        <h3>Animation</h3>
                    </div>
                    <br>
                    <div class="rating-stars">
                        <input type="radio" id="animationStar1" name="animationRating" value="1">
                        <label for="animationStar1">
                            <i class="fa-solid fa-star"></i>
                        </label>
                        <input type="radio" id="animationStar2" name="animationRating" value="2">
                        <label for="animationStar2">
                            <i class="fa-solid fa-star"></i>
                        </label>
                        <input type="radio" id="animationStar3" name="animationRating" value="3">
                        <label for="animationStar3">
                            <i class="fa-solid fa-star"></i>
                        </label>
                        <input type="radio" id="animationStar4" name="animationRating" value="4">
                        <label for="animationStar4">
                            <i class="fa-solid fa-star"></i>
                        </label>
                        <input type="radio" id="animationStar5" name="animationRating" value="5">
                        <label for="animationStar5">
                            <i class="fa-solid fa-star"></i>
                        </label>
                        <input type="radio" id="animationStar6" name="animationRating" value="6">
                        <label for="animationStar6">
                            <i class="fa-solid fa-star"></i>
                        </label>
                        <input type="radio" id="animationStar7" name="animationRating" value="7">
                        <label for="animationStar7">
                            <i class="fa-solid fa-star"></i>
                        </label>
                        <input type="radio" id="animationStar8" name="animationRating" value="8">
                        <label for="animationStar8">
                            <i class="fa-solid fa-star"></i>
                        </label>
                        <input type="radio" id="animationStar9" name="animationRating" value="9">
                        <label for="animationStar9">
                            <i class="fa-solid fa-star"></i>
                        </label>
                        <input type="radio" id="animationStar10" name="animationRating" value="10">
                        <label for="animationStar10">
                            <i class="fa-solid fa-star"></i>
                        </label>
                    </div>
                </div>

                <div class="rating-story">
                    <div class="rating-title">
                        <h3>Story</h3>
                    </div>
                    <br>
                    <div class="rating-stars">
                        <input type="radio" id="storyStar1" name="storyRating" value="1">
                        <label for="storyStar1">
                            <i class="fa-solid fa-star"></i>
                        </label>
                        <input type="radio" id="storyStar2" name="storyRating" value="2">
                        <label for="storyStar2">
                            <i class="fa-solid fa-star"></i>
                        </label>
                        <input type="radio" id="storyStar3" name="storyRating" value="3">
                        <label for="storyStar3">
                            <i class="fa-solid fa-star"></i>
                        </label>
                        <input type="radio" id="storyStar4" name="storyRating" value="4">
                        <label for="storyStar4">
                            <i class="fa-solid fa-star"></i>
                        </label>
                        <input type="radio" id="storyStar5" name="storyRating" value="5">
                        <label for="storyStar5">
                            <i class="fa-solid fa-star"></i>
                        </label>
                        <input type="radio" id="storyStar6" name="storyRating" value="6">
                        <label for="storyStar6">
                            <i class="fa-solid fa-star"></i>
                        </label>
                        <input type="radio" id="storyStar7" name="storyRating" value="7">
                        <label for="storyStar7">
                            <i class="fa-solid fa-star"></i>
                        </label>
                        <input type="radio" id="storyStar8" name="storyRating" value="8">
                        <label for="storyStar8">
                            <i class="fa-solid fa-star"></i>
                        </label>
                        <input type="radio" id="storyStar9" name="storyRating" value="9">
                        <label for="storyStar9">
                            <i class="fa-solid fa-star"></i>
                        </label>
                        <input type="radio" id="storyStar10" name="storyRating" value="10">
                        <label for="storyStar10">
                            <i class="fa-solid fa-star"></i>
                        </label>
                    </div>
                </div>

                <div class="rating-characters">
                    <div class="rating-title">
                        <h3>Characters</h3>
                    </div>
                    <br>
                    <div class="rating-stars">
                        <input type="radio" id="charactersStar1" name="charactersRating" value="1">
                        <label for="charactersStar1">
                            <i class="fa-solid fa-star"></i>
                        </label>
                        <input type="radio" id="charactersStar2" name="charactersRating" value="2">
                        <label for="charactersStar2">
                            <i class="fa-solid fa-star"></i>
                        </label>
                        <input type="radio" id="charactersStar3" name="charactersRating" value="3">
                        <label for="charactersStar3">
                            <i class="fa-solid fa-star"></i>
                        </label>
                        <input type="radio" id="charactersStar4" name="charactersRating" value="4">
                        <label for="charactersStar4">
                            <i class="fa-solid fa-star"></i>
                        </label>
                        <input type="radio" id="charactersStar5" name="charactersRating" value="5">
                        <label for="charactersStar5">
                            <i class="fa-solid fa-star"></i>
                        </label>
                        <input type="radio" id="charactersStar6" name="charactersRating" value="6">
                        <label for="charactersStar6">
                            <i class="fa-solid fa-star"></i>
                        </label>
                        <input type="radio" id="charactersStar7" name="charactersRating" value="7">
                        <label for="charactersStar7">
                            <i class="fa-solid fa-star"></i>
                        </label>
                        <input type="radio" id="charactersStar8" name="charactersRating" value="8">
                        <label for="charactersStar8">
                            <i class="fa-solid fa-star"></i>
                        </label>
                        <input type="radio" id="charactersStar9" name="charactersRating" value="9">
                        <label for="charactersStar9">
                            <i class="fa-solid fa-star"></i>
                        </label>
                        <input type="radio" id="charactersStar10" name="charactersRating" value="10">
                        <label for="charactersStar10">
                            <i class="fa-solid fa-star"></i>
                        </label>
                    </div>
                </div>

            </div>
            <div class="rating-button">
                <button id="add_to_watched_button" type="submit" onclick="setSeenAnimeValue(true)" >add to watched</button>
            </div>
        </div>
    </div>
        <input type="hidden" id="seenAnimeInput" name="seenAnime" value="seen">
</form>
<div class="anime-buttons">
    <a onclick="toggleRating()" id="star_icon_toggle" class="main_refreshIcon" >
        <i class="fa-solid fa-star-half-stroke"></i>
    </a>
    <a onclick="setSeenAnimeValue(false)" class="main_refreshIcon">
        <i class="fa-solid fa-bookmark"></i>
    </a>
    <a th:href="@{/}" class="main_refreshIcon">
        <i class="fa-solid fa-arrows-rotate"></i>
    </a>
</div>
<script>
    function toggleRating() {
        document.querySelector(".rating").classList.toggle("hidden");
    }

    function setSeenAnimeValue(value) {
        document.getElementById('seenAnimeInput').value = value.toString();
        document.getElementById('watchedForm').submit();
    }
</script>
</body>
</html>
