<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<h1>Rate anime</h1>
<br>
<script>
    const apiUrl = 'https://kitsu.io/api/edge/anime/1';

    const titleElement = document.getElementById('animeTitle');

    fetch(apiUrl)
        .then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
            return response.json();
        })
        .then(data => {
            titleElement.textContent = data.title;
        })
        .catch(error => {
            console.error('Error:', error);
        });
</script>
<div>
    <a href="/random">your account</a>
    <a href="/random">your anime list</a>
    <a href="/random">top rated anime</a>
</div>
<br>
<div>
    <table>
        <tr>
            <th>Title:</th>
            <th>Release Date:</th>
            <th>Genre:</th>
            <th>Seasons:</th>
            <th>Description:</th>
        </tr>
        <tr>
            <td id="animeTitle">Loading..</td>
            <td>Loading..</td>
            <td>Loading..</td>
            <td>Loading..</td>
            <td>Loading..</td>
        </tr>
    </table>
</div>
<button>seen</button>
<button>not seen</button>
</body>
</html>