<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="ratting">
    <div class="unchecked-rating">
        <input type="checkbox" name="oneStar" value="1">
        <input type="checkbox" name="twoStar" value="2">
        <input type="checkbox" name="threeStar" value="3">
        <input type="checkbox" name="fourStar" value="4">
        <input type="checkbox" name="fiveStar" value="5">
        <input type="checkbox" name="sixStar" value="6">
        <input type="checkbox" name="sevenStar" value="7">
        <input type="checkbox" name="eightStar" value="8">
        <input type="checkbox" name="nineStar" value="9">
        <input type="checkbox" name="tenStar" value="10">
    </div>
</div>
</body>
</html>