body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-gap: 20px;
    background-color: #36393f;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.page-title {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    font-size: 5rem;
    text-align: center;
}

.page-header {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    text-align: center;
    background-color: #2f3136;
    border-radius: 5rem;
    padding: 20px 35px;
}

.anime-grid {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
}

.anime-info {
    background-color: #2f3136;
    padding: 10px;
    border-radius: 0.5rem;
}

.anime-grid h2 {
    margin-bottom: 5px;
}

.anime-poster img {
    border-radius: 0.5rem;
    max-width: 100%;
    height: auto;
}

.page-buttons {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
    text-align: center;
    font-weight: bolder;
}

h1, h2 {
    color: #7289da;
}

a {
    color: #7289da;
    text-decoration: none;
    padding: 5rem;
}

a:hover {
    color: #ffffff;
}

p, button {
    color: #ffffff;
}

button {
    background-color: #7289da;
    color: #ffffff;
    border: none;
    border-radius: 5rem;
    padding: 20px 35px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #677bc4;
}