body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-gap: 20px;
    background-color: #36393f;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.page-title {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    font-size: 5rem;
    text-align: center;
}

.page-header {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    text-align: center;
    background-color: #2f3136;
    border-radius: 5rem;
    padding: 20px 35px;
}

.anime-grid {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
}

.anime-info {
    background-color: #2f3136;
    padding: 10px;
    border-radius: 0.5rem;
}

.anime-grid h2 {
    margin-bottom: 5px;
}

.anime-poster img {
    border-radius: 0.5rem;
    max-width: 100%;
    height: auto;
}

.page-buttons {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
    text-align: center;
    font-weight: bolder;
}

button {
    background-color: #7289da;
    color: #ffffff;
    border: none;
    border-radius: 5rem;
    padding: 20px 35px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #677bc4;
}

.hidden {
    display: none;
}

.rating {
    background-color: #2f3136;
    max-width: 500px;
    padding: 20px;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.rating-text {
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.rating-artstyle,
.rating-animation,
.rating-story,
.rating-characters {
    background-color: #2f3136;
    padding: 10px;
    border-radius: 0.5rem;
}

.rating-text p {
    font-size: 3rem;
    margin: 0;
    color: rgba(26, 27, 30, 0.53);
}

.rating-button {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    margin-top: 20px;
}

.rating-button button {
    background-color: #ffffff;
    color: #7289da;
    border: none;
    border-radius: 5rem;
    padding: 10px 20px;
    cursor: pointer;
}

.rating-button button:hover {
    background-color: #41538c;
}

h1,
h2 {
    color: #7289da;
}

a {
    color: #7289da;
    text-decoration: none;
    padding: 5rem;
}

a:hover {
    color: #ffffff;
}

p,
button {
    color: #ffffff;
}

.unchecked-rating input {
    cursor: pointer;
    appearance: none;
}

.unchecked-rating input {
    display: inline-block;
}

.unchecked-rating input::before {
    content: "\f005";
    font-family: "fontAwesome";
    font-size: 1rem;
    margin-left: 0.5rem;
    color: #92a3f1;
    transition: 0.5s;
}

.unchecked-rating input:hover ~ input::before,
.unchecked-rating input:hover::before {
    color: #2f3136;
}
